name: Build
permissions:
  actions: read

  
on:
  workflow_dispatch:
    inputs:
      linux:
        type: boolean
        description: Linux (GCC)
        default: true
      linux_clang:
        type: boolean
        description: Linux (Clang)
        default: false
      windows:
        type: boolean
        description: Windows
        default: false
      macOS:
        type: boolean
        description: macOS
        default: false

  push:
    paths:
      - 'assets/**'
      - 'source/**'
      - 'toolchains/**'
      - 'triplets/**'
    branches:
      - '*' 

  pull_request:
    paths:
      - 'assets/**'
      - 'source/**'
      - 'toolchains/**'
      - 'triplets/**'
    branches:
      - '*'

jobs:
  build_linux:
    name: Build OpenStarbound Linux x86_64
    runs-on: ubuntu-22.04
    if: ${{ (github.event_name != 'pull_request') && (inputs.linux == true) }}
    steps:
      - name: Install Packages
        run: |
          sudo apt-get update
          sudo apt-get install -y pkgconf libxmu-dev libgl-dev libglu1-mesa-dev libasound2-dev libpulse-dev \
          libaudio-dev libjack-dev libsndio-dev libx11-dev libxext-dev \
          libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev \
          libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev \
          libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev libpipewire-0.3-dev libwayland-dev libdecor-0-dev liburing-dev

      - name: Install CMake & Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: 3.29.2

      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: sccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          variant: sccache
          key: ${{ github.job }}-${{ runner.os }}
          max-size: 250M

      - name: vcpkg
        uses: lukka/run-vcpkg@v11
        id: runvcpkg
        with:
          vcpkgJsonGlob: '**/source/vcpkg.json'
          vcpkgConfigurationJsonGlob: '**/source/vcpkg-configuration.json'

      - name: Restore vcpkg cache
        id: vcpkg-cache
        uses: TAServers/vcpkg-cache@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run CMake
        uses: lukka/run-cmake@v10
        env:
          VCPKG_FEATURE_FLAGS: "binarycaching"
          VCPKG_BINARY_SOURCES: "clear;files,${{ steps.vcpkg-cache.outputs.path }},readwrite"
        with:
          cmakeListsTxtPath: '${{ github.workspace }}/source/CMakeLists.txt'
          configurePreset: 'linux-release'
          buildPreset: 'linux-release'

      - name: Prepare Artifacts
        working-directory: ${{ github.workspace }}
        run: tar -cvf dist.tar dist

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OpenStarbound-Linux-GCC
          path: dist.tar

      - name: Run Tests
        uses: lukka/run-cmake@v10
        env:
          VCPKG_FEATURE_FLAGS: "binarycaching"
          VCPKG_BINARY_SOURCES: "clear;files,${{ steps.vcpkg-cache.outputs.path }},readwrite"
        with:
          cmakeListsTxtPath: '${{ github.workspace }}/source/CMakeLists.txt'
          testPreset: 'linux-release'

      - name: Assemble Files
        working-directory: ${{ github.workspace }}
        run: scripts/ci/linux/assemble.sh

      - name: Upload Client Files
        uses: actions/upload-artifact@v4
        with:
          name: OpenStarbound-Linux-GCC-Client
          path: client.tar

      - name: Upload Server Files
        uses: actions/upload-artifact@v4
        with:
          name: OpenStarbound-Linux-GCC-Server
          path: server.tar
